@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(./fonts/Poppins-ExtraBold.ttf);
}

:root {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: left;
  scroll-behavior: smooth;

  color-scheme: light dark;
  background: #f5f5f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-family: inherit;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 5.625rem */
  letter-spacing: 0.05625rem;
}

#dark {
  color: #232846;
}

h2 {
  font-family: inherit;
  font-style: normal;
  color: #232846;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 128.5%; /* 2.40938rem */
  letter-spacing: 0.02813rem;
  text-align: left;
}

p {
  color: #232846;
  font-family: Poppins;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 2.25rem */
  letter-spacing: 0.01688rem;
}

a {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  max-height: 2rem;
}

b {
  font-family: Poppins-Bold;
}

span[id="pink"] {
  color: #fa4a7f;
}

button {
  border-radius: 1.6875rem;
  border: 2px solid #fa4a7f;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.25s;
  color: #fa4a7f;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  padding: 0.3rem 0.7rem;
}

button svg {
  transform: scale(0.75);
}

button:hover div {
  color: #f5f5f7;
}

button:hover {
  color: #f5f5f7;
  background-color: #fa4a7f;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #232846;
  }
}
