@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(./fonts/Poppins-ExtraBold.ttf);
}

:root {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: left;
  scroll-behavior: smooth;

  color-scheme: light dark;
  background: #f5f5f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
}

a {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  max-height: 2rem;
  color: #f5f5f7;
}

a:hover {
  color: #fa4a7f;
}

b {
  font-family: Poppins-Bold;
}

span[id="pink"] {
  color: #fa4a7f;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #232846;
  }
}
