@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(./fonts/Poppins-ExtraBold.ttf);
}

:root {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: left;
  scroll-behavior: smooth;

  color-scheme: light dark;
  background: #f5f5f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}
/* 
h1 {
  font-family: inherit;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; 
  letter-spacing: 0.05625rem; */

/* #dark {
  color: #232846;
}

h2 {
  font-family: inherit;
  font-style: normal;
  color: #232846;
  font-weight: 600;
  line-height: 128.5%; 
  letter-spacing: 0.02813rem;
  text-align: left;
}

p {
  color: #232846;
  font-family: Poppins;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.01688rem;
} */

a {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  max-height: 2rem;
  color: #f5f5f7;
  transition: color 0.25s;
}

a:hover {
  color: #fa4a7f;
}

b {
  font-family: Poppins-Bold;
}

span[id="pink"] {
  color: #fa4a7f;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #232846;
  }
}
